body{
    background-image: url('../img/background.jpg');
}
*{
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    text-align:center;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: linear-gradient(to right top, #000000, #320d16, #5d071b, #880016, #b00000);
    color:transparent;
    -webkit-background-clip: text;
     background-clip: text;
}
@media(max-width: 768px){
    #float-pequeno{
        left:20px;
        width:180px;
    }
}